In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime as dt
import itertools

%matplotlib inline

Reading data from the CSV into a dataframe

In [3]:
folder='./Datasets/'
raw_data_1 = pd.read_csv(folder+'2000-01.csv')
raw_data_2 = pd.read_csv(folder+'2001-02.csv')
raw_data_3 = pd.read_csv(folder+'2002-03.csv') 
raw_data_4 = pd.read_csv(folder+'2003-04.csv')
raw_data_5 = pd.read_csv(folder+'2004-05.csv')
raw_data_6 = pd.read_csv(folder+'2005-06.csv')
raw_data_7 = pd.read_csv(folder+'2006-07.csv')
raw_data_8 = pd.read_csv(folder+'2007-08.csv')
raw_data_9 = pd.read_csv(folder+'2008-09.csv')
raw_data_10 = pd.read_csv(folder+'2009-10.csv')
raw_data_11 = pd.read_csv(folder+'2010-11.csv')
raw_data_12 = pd.read_csv(folder+'2011-12.csv')
raw_data_13 = pd.read_csv(folder+'2012-13.csv')
raw_data_14 = pd.read_csv(folder+'2013-14.csv')
raw_data_15 = pd.read_csv(folder+'2014-15.csv')
raw_data_16 = pd.read_csv(folder+'2015-16.csv')
raw_data_17 = pd.read_csv(folder+'2016-17.csv')
raw_data_18 = pd.read_csv(folder+'2017-18.csv')
raw_data_19 = pd.read_csv(folder+'2018-19.csv')
raw_data_20 = pd.read_csv(folder+'2019-20.csv')
raw_data_21 = pd.read_csv(folder+'2020-2021.csv')
raw_data_22 = pd.read_csv(folder+'2021-2022.csv')

In [4]:
print(len(raw_data_19))

160

In [5]:
#Gets all the statistics related to the gameplay
columns = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
playing_stats_1 = raw_data_1[columns]
playing_stats_2 = raw_data_2[columns]
playing_stats_3 = raw_data_3[columns]
playing_stats_4 = raw_data_4[columns]
playing_stats_5 = raw_data_5[columns]
playing_stats_6 = raw_data_6[columns]
playing_stats_7 = raw_data_7[columns]
playing_stats_8 = raw_data_8[columns]
playing_stats_9 = raw_data_9[columns]
playing_stats_10 = raw_data_10[columns]
playing_stats_11 = raw_data_11[columns]
playing_stats_12 = raw_data_12[columns]
playing_stats_13 = raw_data_13[columns]
playing_stats_14 = raw_data_14[columns]
playing_stats_15 = raw_data_15[columns]
playing_stats_16 = raw_data_16[columns]
playing_stats_17 = raw_data_17[columns]
playing_stats_18 = raw_data_18[columns]
#playing_stats_19 = raw_data_19[columns]
playing_stats_20 = raw_data_20[columns]
playing_stats_21 = raw_data_21[columns]
playing_stats_22 = raw_data_22[columns]

In [6]:
playing_stats_1

         Date       HomeTeam       AwayTeam  FTHG  FTAG FTR
0    19/08/00       Charlton       Man City     4     0   H
1    19/08/00        Chelsea       West Ham     4     2   H
2    19/08/00       Coventry  Middlesbrough     1     3   A
3    19/08/00          Derby    Southampton     2     2   D
4    19/08/00          Leeds        Everton     2     0   H
..        ...            ...            ...   ...   ...  ..
375  19/05/01       Man City        Chelsea     1     2   A
376  19/05/01  Middlesbrough       West Ham     2     1   H
377  19/05/01      Newcastle    Aston Villa     3     0   H
378  19/05/01    Southampton        Arsenal     3     2   H
379  19/05/01      Tottenham     Man United     3     1   H

[380 rows x 6 columns]

In [7]:
#Gets the goals agg arranged by teams
def get_goals_agg(playing_stats):
    #Created a dictionary with the teams as keys and the goals scored as values
    teams = {}
    for i in playing_stats.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    for i in range(len(playing_stats)):
        teams[playing_stats['HomeTeam'][i]].append(playing_stats['FTHG'][i])
        teams[playing_stats['AwayTeam'][i]].append(playing_stats['FTAG'][i])
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

In [8]:
get_goals_agg(playing_stats_1)

,1,2,3,4,5,6,7,8,9,10,...,30,31,32,33,34,35,36,37,38,0
Arsenal,0,2,7,9,10,12,13,14,15,17,...,47,49,53,53,57,59,61,61,63,0
Aston Villa,0,1,2,4,6,7,11,11,11,13,...,34,36,38,40,43,43,43,46,46,0
Bradford,0,2,2,2,3,3,3,4,4,4,...,22,23,25,27,28,28,29,30,30,0
Charlton,4,4,7,8,10,11,12,14,15,16,...,39,41,42,42,45,46,48,50,50,0
Chelsea,4,4,5,7,7,7,10,13,13,19,...,54,58,59,62,62,62,64,66,68,0
Coventry,1,3,5,5,5,6,6,8,10,11,...,26,28,31,33,34,34,34,36,36,0
Derby,2,4,6,9,11,12,13,14,14,15,...,31,31,31,32,34,34,35,36,37,0
Everton,0,3,5,7,9,10,11,11,12,13,...,31,33,36,37,39,40,42,43,45,0
Ipswich,1,2,3,4,5,7,8,11,12,14,...,44,47,48,49,51,53,54,56,57,0
Leeds,2,4,5,5,6,7,11,14,14,15,...,44,46,48,50,52,54,55,61,64,0
Leicester,0,1,1,3,4,6,7,7,7,7,...,31,32,33,34,34,34,34,38,39,0
Liverpool,1,1,4,7,10,11,12,12,16,17,...,51,52,55,58,60,62,65,67,71,0
Man City,0,4,5,7,9,10,10,10,12,14,...,33,34,35,35,37,38,39,40,41,0
Man United,2,3,5,11,14,17,20,20,23,26,...,68,68,70,74,75,77,77,78,79,0
Middlesbrough,3,4,5,8,9,10,11,14,15,15,...,33,34,34,37,38,41,41,42,44,0
Newcastle,0,3,5,7,7,7,7,8,11,11,...,36,36,38,39,40,41,41,41,44,0
Southampton,2,3,6,7,7,9,10,11,12,12,...,34,34,34,34,34,35,35,37,40,0
Sunderland,1,3,3,4,4,6,7,7,8,8,...,37,37,37,39,39,40,41,44,46,0
Tottenham,3,4,4,7,8,8,8,11,12,15,...,36,36,38,41,41,42,42,44,47,0
West Ham,2,2,4,5,5,6,9,10,11,12,...,35,35,37,40,41,41,41,44,45,0

In [9]:
def check_teams_with_less_than_38_matches(playing_stats):
    home_counts = playing_stats['HomeTeam'].value_counts()
    away_counts = playing_stats['AwayTeam'].value_counts()
    total_matches = home_counts.add(away_counts, fill_value=0)
    return total_matches[total_matches < 38]
check_teams_with_less_than_38_matches(playing_stats_20)

Arsenal             26
Aston Villa         26
Bournemouth         26
Brighton            26
Burnley             26
Chelsea             26
Crystal Palace      26
Everton             26
Leicester           26
Liverpool           26
Man City            26
Man United          26
Newcastle           26
Norwich             26
Sheffield United    26
Southampton         26
Tottenham           26
Watford             26
West Ham            26
Wolves              26
dtype: int64

In [10]:
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

In [11]:
def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_agg(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat = playing_stat.copy()
  
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [12]:
playing_stats_1 = get_gss(playing_stats_1)
playing_stats_2 = get_gss(playing_stats_2)
playing_stats_3 = get_gss(playing_stats_3)
playing_stats_4 = get_gss(playing_stats_4)
playing_stats_5 = get_gss(playing_stats_5)
playing_stats_6 = get_gss(playing_stats_6)
playing_stats_7 = get_gss(playing_stats_7)
playing_stats_8 = get_gss(playing_stats_8)
playing_stats_9 = get_gss(playing_stats_9)
playing_stats_10 = get_gss(playing_stats_10)
playing_stats_11 = get_gss(playing_stats_11)
playing_stats_12 = get_gss(playing_stats_12)
playing_stats_13 = get_gss(playing_stats_13)
playing_stats_14 = get_gss(playing_stats_14)
playing_stats_15 = get_gss(playing_stats_15)
playing_stats_16 = get_gss(playing_stats_16)
playing_stats_17 = get_gss(playing_stats_17)
playing_stats_18 = get_gss(playing_stats_18)
#playing_stats_19 = get_gss(playing_stats_19)
#playing_stats_20 = get_gss(playing_stats_20)
playing_stats_21 = get_gss(playing_stats_21)
playing_stats_22 = get_gss(playing_stats_22)

In [13]:
playing_stats_1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
0,19/08/00,Charlton,Man City,4,0,H,0,0,0,0
1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,0
2,19/08/00,Coventry,Middlesbrough,1,3,A,0,0,0,0
3,19/08/00,Derby,Southampton,2,2,D,0,0,0,0
4,19/08/00,Leeds,Everton,2,0,H,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
375,19/05/01,Man City,Chelsea,1,2,A,40,66,63,44
376,19/05/01,Middlesbrough,West Ham,2,1,H,42,44,43,48
377,19/05/01,Newcastle,Aston Villa,3,0,H,41,46,50,40
378,19/05/01,Southampton,Arsenal,3,2,H,37,61,46,35
379,19/05/01,Tottenham,Man United,3,1,H,44,78,53,28